<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>小黑记事本</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
</head>

<body>
    <!-- 主体区域 -->
    <section id="todoapp">
        <!-- 输入框 -->
        <header class="header">
            <h1>小黑记事本</h1>
            <input autofocus="autofocus" autocomplete="off" v-model='message' placeholder="message" class="new-todo" @keyup.enter='enter' />
        </header>
        <!-- 列表区域 -->
        <section class="main">
            <ul class="todo-list">
                <li class="todo" v-for="(item,index) in arr_name">
                    <div class="view">
                        <span class="index">{{index+1}}</span> <label>{{item}}</label>
                        <button class="destroy" @click='remove(index)'></button>
                    </div>
                </li>
            </ul>
        </section>
        <!-- 统计和清空 -->
        <footer class="footer">
            <span class="todo-count"> <strong>{{ arr_name.length }}</strong> items left </span>
            <button class="clear-completed" @click="clear">
          Clear
        </button>
        </footer>
    </section>
    <!-- 底部 -->
    <footer class="info">
        <p>
            <a href="http://www.itheima.com/"><img src="./img/black.png" alt="" /></a>
        </p>
    </footer>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var todoapp = new Vue({
            el: '#todoapp',
            data: {
                message: '请输入你的计划',
                arr_name: []
            },
            methods: {
                enter: function() {
                    this.arr_name.push(this.message)
                },
                remove: function(index) {
                    this.arr_name.splice(index, 1)
                },
                clear: function() {
                    this.arr_name = []
                }
            }
        })
    </script>
</body>

</html>