<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>天知道</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/index.css" />
</head>



<body>
    <div class="wrap" id="app">
        <div class="search_form">
            <div class="logo"><img src="img/logo.png" alt="logo" /></div>
            <div class="form_group">
                <input type="text" class="input_txt" v-model="message" @keyup.enter="search" />
                <button class="input_sub" @click='search'>
            搜 索
          </button>
            </div>
            <div class="hotkey">
                <!-- v-for='city in citys' -->
                <a href="javascript:;" v-for="city in citys" @click="clickSearch(city)">{{ city }}</a>
            </div>
        </div>
        <ul class="weather_list">
            <li v-for="(item,index) in listCitys">
                <div class="info_type"><span class="iconfont">{{item.type}}</span></div>
                <div class="info_temp">
                    <b>{{item.low}}</b> ~
                    <b>{{item.high}}</b>
                </div>
                <div class="info_date"><span>{{item.data}}</span></div>
            </li>
        </ul>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 官网提供的 axios 在线地址 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 自己的js -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: "北京",
                listCitys: [],
                citys: ["北京", "上海", "广州", "深圳", "海南"]
            },
            methods: {
                clickSearch: function(city) {
                    this.message = city
                    this.search()
                },
                search: function() {
                    axios.get(`http://wthrcdn.etouch.cn/weather_mini?city=${this.message}`).then(
                        res => {
                            console.log(res)
                            this.listCitys = res.data.data.forecast
                            console.log(this.listCitys);
                        }
                    ).catch(err => {
                        console.log(err);
                    })
                }
            }

        })
    </script>
</body>

</html>